<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, "イベント名" %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :dtstart, "開始日時" %><br>
    <%= f.datetime_select :dtstart %>
  </div>
  <div class="field">
    <%= f.label :dtend, "終了日時" %><br>
    <%= f.datetime_select :dtend %>
  </div>
  <div class="field">
    <%= f.label :location, "場所" %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :lat, "緯度" %><br>
    <%= f.text_field :lat %>
  </div>
  <div class="field">
    <%= f.label :lng, "経度" %><br>
    <%= f.text_field :lng %>
  </div>
  <div class="field">
    <%= f.label :summary, "内容" %><br>
    <%= f.text_area :summary %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
