<p id="notice"><%= notice %></p>

<p>
  <strong>イベント名:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>開始日時:</strong>
  <%= @event.dtstart %>
</p>

<p>
  <strong>終了日時:</strong>
  <%= @event.dtend %>
</p>

<p>
  <strong>場所:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>緯度:</strong>
  <%= @event.lat %>
</p>

<p>
  <strong>経度:</strong>
  <%= @event.lng %>
</p>

<p>
  <strong>内容:</strong>
  <%= @event.summary %>
</p>

<p><strong>主催者一覧</strong></p>
<ul>
<% @event.manages.each do |manage| %>
  <li>
  <%= manage.user.name %>
  </li>
<% end %>
</ul>

<p><strong>参加者一覧</strong></p>
<ul>
<% @event.entries.each do |entry| %>
  <li>
  <%= entry.user.name %>
  </li>
<% end %>
</ul>

<%= link_to '参加する！', new_entry_path %><br>

<%= link_to '編集', edit_event_path(@event) %> |
<%= link_to 'イベント一覧へ', events_path %>
