<p id="notice"><%= notice %></p>

<p>
  <strong>イベント名:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>開始日時:</strong>
  <%= @event.dtstart %>
</p>

<p>
  <strong>終了日時:</strong>
  <%= @event.dtend %>
</p>

<p>
  <strong>場所:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>緯度:</strong>
  <%= @event.lat %>
</p>

<p>
  <strong>経度:</strong>
  <%= @event.lng %>
</p>

<p>
  <strong>内容:</strong>
  <%= @event.summary %>
</p>

<p><strong>主催者一覧</strong></p>
<ul>
<% @event.manages.each do |manage| %>
  <li>
  <%= manage.user.name %>
  </li>
<% end %>
</ul>

<p><strong>参加者一覧</strong></p>
<ul>
<% @event.entries.each do |entry| %>
  <li>
  <%= entry.user.name %>
  </li>
<% end %>
</ul>


<% unless current_user.entry?(@event) %>
<%= form_for(current_user.entries.build(event_id: @event.id)) do |f| %>
  <div><%= f.hidden_field :event_id %></div>
  <%= f.submit "参加する" %>
<% end %>
<% else %>
<%= form_for(current_user.entries.find_by(event_id: @event.id),
             html: { method: :delete }) do |f| %>
  <%= f.submit "参加取りやめ" %>
<% end %>
<% end %>

<%= link_to 'イベント一覧へ', events_path %>
