<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Dtstart:</strong>
  <%= @event.dtstart %>
</p>

<p>
  <strong>Dtend:</strong>
  <%= @event.dtend %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @event.lat %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @event.lng %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @event.summary %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
