<p id="notice"><%= notice %></p>

<p>
  <strong>イベント名:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>開始日時:</strong>
  <%= @event.dtstart %>
</p>

<p>
  <strong>終了日時:</strong>
  <%= @event.dtend %>
</p>

<p>
  <strong>場所:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>緯度:</strong>
  <%= @event.lat %>
</p>

<p>
  <strong>経度:</strong>
  <%= @event.lng %>
</p>

<p>
  <strong>内容:</strong>
  <%= @event.summary %>
</p>

<%= link_to '編集', edit_event_path(@event) %> |
<%= link_to 'イベント一覧へ', events_path %>
